# Production Environment Variables
MONGODB_URI=mongodb+srv://daily-ops:PASSWORD@twacc-products-9d9ef48a.mongo.ondigitalocean.com/daily-ops-db?authSource=admin&replicaSet=twacc-products&tls=true
MONGODB_DB_NAME=daily-ops-db
NODE_ENV=production
PORT=3000
